.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 144px;
  padding: 32px;
}

.universityImg {
  width: 80px;
  height: 80px;
}

.university {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;

  text-align: right;

  color: #757575;
}

.universityName {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;

  text-align: right;
  letter-spacing: 1.25px;
  text-transform: uppercase;

  color: #424242;
}

.buttonEdit {
  width: 17px;
  height: 17px;
  border: none;
}

.buttonDelete {
  width: 17px;
  height: 19px;
  border: none;
}
